#teamname {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#header {
    align: center;
}

tr {
    line-height: 2px;
    min-height: 2px;
    height: 2px;
}

